/* --- Preloading spinner --- */
.spinner-wrapper {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #fff;
z-index: 999999;
}

.spinner {
	position: absolute;
  top: 48%;
  left: 48%;

  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #666;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


/* -- Document formats -- */
h1 {
	text-align: center;
}

form {
	text-align: center;
}


/* -- Label & input box of word to be translated -- */
div.word {
	margin: 5px;
}

#word {
	font-size: 25px;
}

/* -- Placeholder text formatting -- */
.form-control::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #ccc;
}
.form-control::-webkit-input-placeholder {
  color: #ccc;
}

/* Translation Well */
.well-lg {
	padding: 25px;
}

#container {
	position: relative;
	height: 71px;
}

#result, #loader-wrapper {
	width: 100%;
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;
}

#loader-wrapper {
	z-index: 10;
}

#result {
	font-size: 25px;
	vertical-align: middle;
	text-align: center;
	line-height: 20px;
}

#transload {
	width: 100%;
	height: inherit;
	position: absolute;
	top: auto;
	left: 0;
}

/* -- Instrusctions -- */
#instru {
	padding: 0px 20px 20px 20px;
	display: none;
}


/* -- Suggestions for language varieties --*/
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 290px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

/* -- Instruction icon -- */
.material-icons {
	margin: 5px 20px;
}
.material-icons:hover {
	color: #666;
}
