h1 {
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}

form {
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}

#word {
	font-size: 25px;
}

div.ui-widget {
	display: inline-block;
	vertical-align: top;
}

div.word {
	margin: 5px;
}

button {
	font-family: Helvetica, Arial, sans-serif;
	color: #666666;
	background-color: #eeeeee;
	border: none;
	border-color: #eeeeee;
	border-radius: 4px;
	padding: 10px;
	margin: 20px;
}

button:hover {
	background-color: #f6f6f6;
}

p {
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}
