h1 {
	text-align: center;
	font-family: Helvetica, sans-serif;
}

form {
	text-align: center;
	font-family: Helvetica, sans-serif;
}

input[type="submit"] {
	font-family: Helvetica, sans-serif;
}

p {
	text-align: center;
	font-family: Helvetica, sans-serif;
}
