<!doctype html>
<head>
<title>TeraDict</title>
{% load staticfiles %}
<!-- basic style sheet -->
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<!-- jQuery & JSON scripts -->
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
<!-- Twitter typehead -->
<script type="text/javascript" src="/static/typeahead.bundle.js"></script>
<!-- form function scripts -->
<script type="text/javascript" src="/static/teradict.js"></script>
</head>
<body>
<h1>TeraDict</h1>


<form id="base-form">
{% csrf_token %}

  <!-- Word to be translated -->
	<div class="word">
		<label for="word">Translate:</label>
		<input type="text" id ="word" placeholder="Your word" />
	</div>

	<br>

  <!-- Languages to translate between -->
	<div class="lang" id="the-basics">
		<label for="lang1">From</label>
		<input type="text" id="lang1" class="typehead" placeholder="eng-000" value="{{ inlang }}">
	</div>

	<div class="lang" id="the-basics">
		<label for="outlang">to</label>
		<input type="text" id="lang2" class="typehead" placeholder="eng-000" value="{{ outlang }}">
	</div>

	<br>

	<!-- Translate button to call JS function -->
	<button name="translate" type="button" onclick="findTranslation()">Translate!</button>

</form>

<!-- Translation result -->
<p id="result"></p>
</body>
