<!doctype html>
<head>
  <title>TeraDict</title>
  {% load staticfiles %}
  <!-- Bootstrap for forms -->
  <link rel="stylesheet" type="text/css"
      href="{% static 'vendor/bootstrap.css' %}">
  <!-- Basic style sheet -->
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <!-- Google material icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'translate.png' %}">
</head>

<body>
	<!-- CSS preloader -->
	<div class="spinner-wrapper">
		<div class="spinner" id="preloader">
			<div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
		</div>
	</div>

  <h1><strong>TeraDict</strong></h1>

  <form id="base-form">
  {% csrf_token %}

    <!-- Word to be translated -->
	  <div class="row word form-group">
		  <div class="col-xs-6">
		    <label for="word">Translate:</label>
			  <input type="text" id ="word" class="form-control input-lg"
            placeholder="Your word" />
		  </div>

		  <div class="col-xs-6" id="container"> <!-- FIX TO MAKE THIS EVEN IN HEIGHT -->
				<div id="loader-wrapper" class="well well-lg">
					<div class="spinner" id="transload">
						<div class="bounce1"></div>
			      <div class="bounce2"></div>
			      <div class="bounce3"></div>
					</div>
				</div>
				<div id="result" class="well well-lg">Translation</div>
		  </div>
	  </div>

    <!-- Languages to translate between -->
		<div class="row">
			<div class="lang form-group col-xs-6" id="the-basics">
				<label for="inlang">From</label>
				<input type="text" id="inlang" class="form-control typeahead"
            placeholder="English (eng-000)" value="{{ inlang }}">
			</div>

			<div class="lang form-group col-xs-6" id="the-basics">
				<label for="outlang">to</label>
				<input type="text" id="outlang" class="form-control typeahead"
            placeholder="English (eng-000)" value="{{ outlang }}">
			</div>
		</div>

	  <!-- Translate button to call JS function -->
	  <button name="translate" type="button" class="btn btn-primary btn-lg"
        onclick="findTranslation()">Translate!</button>

  </form>

  <!-- Instructions -->
  <i class="material-icons">help</i>

	<!-- Script files -->

	<!-- jQuery & JSON scripts -->
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
	<!-- Twitter typeahead -->
	<script type="text/javascript" src="/static/vendor/typeahead.bundle.js"></script>
	<!-- form function scripts -->
	<script type="text/javascript" src="/static/teradict.js"></script>

</body>
